.footer {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding: 4rem 0 3rem;
}

.logo {
  filter: brightness(0) invert(1);
  margin-bottom: 3rem;
}

.footerText {
}

.contact,
.footerLinks {
  margin-bottom: 4rem;
}

.contactMethod {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contactIcon {
  margin-right: 1.5rem;
}

.list:first-of-type {
  margin-bottom: 3rem;
}

.listItem {
  margin-bottom: 1rem;
}

.social {
  display: flex;
  justify-content: center;
}

.socialWrapper {
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
}

.socialWrapper:first-of-type {
  padding: 0.3rem 0.6rem;
}
