.intro {
  text-align: center;
}

.img {
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.7rem;
  line-height: 1.5;
}

.text {
  margin-bottom: 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.email,
.btn {
  padding: 0.9rem 0;
  border: 1px solid;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.email {
  margin-bottom: 1rem;
  padding: 0.9rem 2rem;
  border-color: hsl(243, 87%, 12%);
  color: hsl(0, 0%, 75%);
  letter-spacing: 0.05rem;
}

.btn {
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Media Queries */
@media (min-width: 990px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .img {
    margin-bottom: 0;
    margin-left: 5rem;
  }

  .cta {
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0;
  }

  .email {
    margin-bottom: 0;
    margin-right: 0.7rem;
    padding: 0.7rem 1rem;
    width: 60%;
  }

  .btn {
    padding: 0.7rem 0.9rem;
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.3rem;
  }
}
